* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  background-image: url("img/bg-img.jpg");
  background-repeat: no-repeat;
  z-index: 1;
  /* background-size: cover; */
}

/* .container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
    max-width: 60rem;
    margin-top: 4rem;
    margin: 0 5rem;

} */
img {
  width: 100%;
}
.container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 80rem;
  height: auto;
}
.img-text-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.img-text-container p {
  display: none;
}
ul {
  list-style: none;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}
li {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1.5rem;
  /* margin-left: rem; */
  /* margin-left: 4rem; */
  margin-top: 2.5rem;
  padding: 1rem;
  padding-left: 4rem;
  cursor: pointer;
}
.default-background-color {
  background-color: #ee3a0d;
  position: relative;
}
/* .default-background-color ::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ee3a0d;
  left: 0;
  top: 0;
  background-color: #ee3a0d;
  z-index: -1;
} */
.icons-container {
  display: flex;
  padding-top: 8rem;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.342);
  padding-left: 5rem;
  padding-bottom: 3rem;
}
.icon {
  font-size: 2.5rem;
  cursor: pointer;
}

@media (max-width: 759px) {
  .container {
    max-width: 60rem;
  }
}
@media (max-width: 686px) {
  .container {
    max-width: 50rem;
  }
}
@media (max-width: 592px) {
  .container {
    max-width: 40rem;
  }
  .icons-container{
    padding-top: 6rem;
    padding-left: 1rem;
  }
}
@media (max-width: 464px) {
  .container {
    max-width: 30rem;
    
  }
  .icons-container{
    padding-top: 4rem;
    /* padding-left: 7rem; */
  }
}
@media(max-width: 350px){
    .container{
        max-width: 25rem;
    }
    .icons-container{
        padding-top: 2rem;
        /* padding-left: 5rem; */
    }
}
